<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p> This is a test <%= title %></p>
=======
    <p> sup  <%= title %></p>
>>>>>>> 0e04c8c58175a7541aae4beacc5dcee7d7a676c9
  </body>
</html>
